<button mat-button (click)="onClickAdd()">
  <i class="fa fa-plus-square"></i> Добавить книгу
</button>

<div class="info" (mouseover)="openTooltip()" (mouseleave)="closeTooltip()">
  <i class="fa fa-2x fa-info-circle"></i>
</div>

<div class="tooltip" *ngIf="is_show_tooltip">
  <b>Написать небольшое одностраничное веб-приложение – редактор книг.</b>
  <br><br>
  <b>Цель:</b> продемонстрировать знание JavaScript и SPA фреймворков/архитектуры, HTML/CSS
  <br><br>
  <b>Оценивается:</b> полнота реализации требований, модульность и архитектура приложения, простота
  и читабельность кода, следование принципам KIS/DRY
  <br><br>
  <b>Функциональные требования :</b>
  <ul>
    <li>Отображать список книг со следующими параметрами:</li>
    <ul>
      <li>- заголовок (обязательный параметр, не более 30 символов)</li>
      <li>- список авторов (книга должна содержать хотя бы одного автора)</li>
      <li>- имя автора (обязательный параметр, не более 20 символов)</li>
      <li>- фамилия автора (обязательный параметр, не более 20 символов)</li>
      <li>- количество страниц (обязательный параметр, больше 0 и не более 10000)</li>
      <li>- название издательства (опциональный параметр, не более 30 символов)</li>
      <li>- год публикации (опциональный параметр, не раньше 1800)</li>
      <li>- дата выхода в тираж (опциональный параметр, не раньше 01.01.1800)</li>
      <li>- ISBN с валидацией (опциональный параметр, http :// en . wikipedia . org / wik i / Internatona l _ Standard _ Book _ Number )</li>
      <li>- изображение (опциональный параметр)</li>
    </ul>
    <li>Возможность добавлять, удалять и редактировать существующие книги и ее авторов.</li>
    <li>Возможность сортировать по заголовку и году публикации (сортировка должна сохраняться после перезагрузки страницы)</li>
    <li>Возможность загружать изображение</li>
  </ul>

  <br>
  <b>Нефункциональные требования :</b>
  <ul>
    <li>Технологии – JavaScript и любой SPA framework</li>
    <li>Хранение данных – в localStorage</li>
    <li>Оформление – в виде grid или master-details</li>
    <li>Клиентская валидация</li>
    <li>Клиентский роутинг</li>
  </ul>

</div>
